h1{
    color:gold;
    text-align:center;
}
#turn{
    text-align: center;
    color: hotpink;
    font-weight: bold;
    font-size: 30px;;
}
td{
   width:100px;
   height:100px; 
   text-align:center;
   border-radius:10px;
   border: solid teal 4px;
   font-weight: bold;
   font-size: 50px;
}
table{
    width:300px;
    height:300px;
    margin-left:auto;
    margin-right:auto;
}
#reset{
    font-weight: bold;
    font-size: 25px;
    margin-left: 24em;
    color:darkolivegreen;
    background-color: darksalmon;
}
body{
    background-color:lightslategray;
}